<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login y Signup</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">

          <h2>Login</h2>
          <form id="loginForm">
            <div class="form-group">
              <label for="loginEmail">Email:</label>
              <input
                type="email"
                class="form-control"
                id="loginEmail"
                name = "email"
                required
              />
            </div>
            <div class="form-group">
              <label for="loginPassword">Contraseña:</label>
              <input
                type="password"
                class="form-control"
                id="loginPassword"    
                name = "password"            
                required
              />
            </div>
            <button type="submit" class="btn btn-primary" formmethod="post" formaction="/appToken/login">
              Iniciar sesión
            </button>
          </form>
        </div>



        <div class="col-md-6">
          <h2>Registro</h2>
          <form id="signupForm">
            <div class="form-group">
              <label for="signupEmail">Email:</label>
              <input
                type="email"
                class="form-control"
                id="signupEmail"
                name = "email"
                required
              />
            </div>
            <div class="form-group">
              <label for="signupPassword">Contraseña:</label>
              <input
                type="password"
                class="form-control"
                id="signupPassword"
                name = "password"
                required
              />
            </div>
            <button type="submit" class="btn btn-success" formmethod="post" formaction="/appToken/register">Registrarse</button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
