<!--seccion de encabezado-->
<header class="header">
  <!--a = un enlace que contiene una direccion en este caso el index.html-->
  <a href="/">
    <!--Agregamos la imagen del logotipo-->
    <img id="imgLogo" class="header__logo" src="img/logo.png" alt="logo" />
  </a>
</header>

<!--BLOQUE esto es un bloque = <nav class="navegacion">-->
<!--Creamos la barra de navegacion-->
<nav class="navegacion">
  <!--ELEMENTO = <a class="navegacion__enlace"-->
  <!--Ponemos dos enlaces dentro-->
  <!--MODIFICADOR = navegacion__enlace--activo-->
  <a class="navegacion__enlace navegacion__enlace--activo" href="/playeras"
    >Tienda</a
  >
  <a class="navegacion__enlace" href="/playeras/about">Nosotros</a>
</nav>